html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:root {
  --fs-norm: 14px;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
img {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
a {
  text-decoration: none;
  color: inherit;
}
button {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
@font-face {
  font-family: "Roboto";
  src: url("./fonts/Roboto-Regular.woff") format("woff");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("./fonts/Roboto-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("./fonts/Roboto-Bold.woff") format("woff");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("./fonts/Roboto-Bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
body {
  font-family: "Inter", sans-serif;
  font-size: var(--fs-norm);
  font-weight: 400;
  line-height: 1.2;
  color: #333;
  overflow-x: hidden;
}
.body--hidden {
  overflow: hidden;
}
.container {
  max-width: 1440px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-image: url("./images/bg-body.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: scroll;
}
.header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 15px;
}
@media (max-width: 768px) {
  .header__top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-bottom: 15px;
  }
}
.header__logo {
  width: 70px;
  height: 50px;
  margin-right: 20px;
}
.header__logo img {
  width: 100%;
  height: 100%;
}
@media (max-width: 768px) {
  .header__logo {
    margin-right: 0;
    margin-bottom: 10px;
  }
}
.header__container {
  max-width: 1024px;
  width: 100%;
  margin: auto;
}
.header__row {
  width: 100%;
  padding: 25px;
  background: rgba(255, 255, 255, 0.9);
  border: 1px solid #ff7c33;
  border-radius: 32px;
}
@media (max-width: 768px) {
  .header__row {
    padding: 15px;
  }
}
.header__title {
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-transform: translateX(-30px);
  -ms-transform: translateX(-30px);
  transform: translateX(-30px);
  color: #ff7c33;
}
@media (max-width: 768px) {
  .header__title {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
}
.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 15px;
}
@media (max-width: 768px) {
  .header__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
.header__img {
  width: 50%;
  max-height: 180px;
  margin-right: 30px;
  border-radius: 27px;
  overflow: hidden;
}
.header__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
@media (max-width: 768px) {
  .header__img {
    width: 100%;
    height: 210px;
    margin-bottom: 15px;
    margin-right: 0;
  }
}
.header__right {
  width: 50%;
}
@media (max-width: 768px) {
  .header__right {
    width: 100%;
  }
}
.header__box:not(:last-child) {
  margin-bottom: 15px;
}
.header__descr {
  display: block;
  font-weight: 700;
  font-size: calc(var(--fs-norm) + 4px);
  margin-bottom: 10px;
}
@media (max-width: 768px) {
  .header__descr {
    font-size: 12px;
  }
}
.header__time {
  font-size: var(--fs-norm);
}
@media (max-width: 768px) {
  .header__time {
    font-size: 12px;
  }
}
.header__price {
  display: block;
  font-size: var(--fs-norm);
  margin-bottom: 15px;
}
.header__price span {
  font-weight: 700;
  font-size: calc(var(--fs-norm) + 3px);
}
@media (max-width: 768px) {
  .header__price {
    font-size: calc(var(--fs-norm)-2px);
  }
  .header__price span {
    font-size: calc(var(--fs-norm)-2px);
  }
}
@media (max-width: 768px) {
  .header__text {
    font-size: var(--fs-norm);
  }
}
.header__text {
  font-size: var(--fs-norm);
}
.header__subtitle {
  font-weight: 700;
  font-size: calc(var(--fs-norm) + 4px);
  text-align: center;
  margin-bottom: 15px;
}
.header__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 -10px;
}
@media (max-width: 768px) {
  .header__links {
    margin: 0 -3px;
  }
}
.header__item {
  padding: 10px;
}
@media (max-width: 768px) {
  .header__item {
    padding: 3px;
  }
}
.header__link {
  display: inline-block;
  width: 175px;
  height: 60px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  -webkit-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
.header__link:hover {
  opacity: 0.5;
}
.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0 auto 15px;
}
.form__inner {
  width: 100%;
  margin-right: 20px;
}
@media (max-width: 768px) {
  .form__inner {
    margin-right: 0;
    margin-bottom: 20px;
  }
}
.form__label {
  display: inline-block;
  width: 100%;
  margin-bottom: 15px;
}
@media (max-width: 768px) {
  .form__label {
    margin-bottom: 10px;
  }
}
.form__input {
  width: 100%;
  padding: 10px 15px;
  font-size: calc(var(--fs-norm) + 2px);
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  border: 1px solid #d8d8d8;
  border-radius: 7px;
}
.form__input::-webkit-input-placeholder {
  font-size: calc(var(--fs-norm) + 2px);
  color: #adadad;
}
.form__input::-moz-placeholder {
  font-size: calc(var(--fs-norm) + 2px);
  color: #adadad;
}
.form__input:-ms-input-placeholder {
  font-size: calc(var(--fs-norm) + 2px);
  color: #adadad;
}
.form__input::-ms-input-placeholder {
  font-size: calc(var(--fs-norm) + 2px);
  color: #adadad;
}
.form__input::placeholder {
  font-size: calc(var(--fs-norm) + 2px);
  color: #adadad;
}
@media (max-width: 768px) {
  .form__input::-webkit-input-placeholder {
    font-size: var(--fs-norm);
  }
  .form__input::-moz-placeholder {
    font-size: var(--fs-norm);
  }
  .form__input:-ms-input-placeholder {
    font-size: var(--fs-norm);
  }
  .form__input::-ms-input-placeholder {
    font-size: var(--fs-norm);
  }
  .form__input::placeholder {
    font-size: var(--fs-norm);
  }
}
@media (max-width: 768px) {
  .form__input {
    padding: 19px;
  }
}
.form__btn {
  font-size: calc(var(--fs-norm) + 1px);
  width: 100%;
  padding: 13px;
  font-weight: 700;
  text-align: center;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  border-radius: 7px;
  -webkit-transition: color 0.3s ease, background-color 0.3s ease;
  -o-transition: color 0.3s ease, background-color 0.3s ease;
  transition: color 0.3s ease, background-color 0.3s ease;
}
.form__btn--orange {
  color: #fff;
  background-color: #ff7c33;
}
.form__btn--orange:hover {
  background-color: #fff;
  color: #333;
}
.form__btn--white {
  color: #333;
  background-color: #fff;
}
.form__btn--white:hover {
  background-color: #ff7c33;
  color: #fff;
}
.form__btn:not(:last-child) {
  margin-bottom: 15px;
}
.form__descr {
  font-size: var(--fs-norm);
  font-weight: 400;
  text-align: center;
}
@media (max-width: 768px) {
  .form__descr {
    font-size: calc(var(--fs-norm) - 2px);
  }
}
.form__link {
  display: inline-block;
  text-decoration: underline;
}
@media (max-width: 768px) {
  .form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin: 0 auto 20px;
  }
}
.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: 20px;
  padding-right: 15px;
  padding-left: 15px;
}
.social__descr {
  font-weight: 600;
  font-size: calc(var(--fs-norm) + 4px);
  padding-right: 15px;
  padding-bottom: 15px;
}
.social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.social__item:not(:last-child) {
  margin-right: 20px;
}
.social__link {
  display: inline-block;
  width: 50px;
  height: 50px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}
.social__link:hover {
  opacity: 0.5;
}

/* my styles */

.layout {
  width: 100%;
  padding: 25px;
  background: rgba(255, 255, 255, 0.9);
  border: 1px solid #ff7c33;
  border-radius: 32px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.rating {
  margin: 20px 0;
}

.saveTour {
  width: 100%;
  padding: 13px;
  margin: 10px 0;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  border-radius: 7px;
  -webkit-transition: color 0.3s ease, background-color 0.3s ease;
  -o-transition: color 0.3s ease, background-color 0.3s ease;
  transition: color 0.3s ease, background-color 0.3s ease;
  color: #fff;
  background-color: #ff7c33;
}

.saveTour:hover {
  background-color: #fff;
  color: #333;
}

.rateContainer {
  max-width: 480px;
  width: 100%;
  margin: auto;
}

.guideImg {
  /* width: 100%; */
  max-height: 200px;

  border-radius: 27px;
  overflow: hidden;

  display: flex;

  align-items: center;
  justify-content: center;
}
.guideImg img {
  margin: 0 auto;
  -o-object-fit: cover;
  object-fit: cover;
}

.guideName {
  color: #ff7c33;
  font-weight: bold;
  font-size: 16px;
  margin: 10px 0;
}

@media (max-width: 768px) {
  .guideImg {
    width: 100%;
    height: 210px;
    margin-bottom: 15px;
    margin-right: 0;
  }
}

.ratingSubtitle {
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  margin-bottom: 15px;
}

.ratingTop {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: flex-start;
  margin-bottom: 15px;
}

.ratingTop .logo {
  justify-self: flex-start;
}
@media (max-width: 768px) {
  .ratingTop {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-bottom: 15px;
  }
}

.error {
  text-align: center;
  color: red;
  margin: 10px;
  font-size: calc(var(--fs-norm) + 2px);
}

.haveAcc {
  float: right;
  font-size: var(--fs-norm);
  text-decoration: underline;
}
